In [1]:
import numpy as np
import pandas as pd
import datetime as dt

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression

In [19]:
course = pd.read_csv("Quiz4.csv")
course.head(10)

   Position Sexe     Temps  Dept  Temps_secondes  Age
0         1    M  00:32:23    76         1643543   40
1         2    M  00:32:40    27         1643560   34
2         3    M  00:33:15    76         1643595   44
3         4    M  00:33:23    76         1643603   46
4         5    M  00:33:29    76         1643609   26
5         6    M  00:33:34    76         1643614   22
6         7    M  00:33:39    76         1643619   34
7         8    M  00:33:41    27         1643621   37
8         9    M  00:33:44    76         1643624   25
9        10    M  00:34:16    76         1643656   48

In [11]:
# Question 1
course[["Position", "Age"]].corr()

          Position       Age
Position  1.000000  0.106065
Age       0.106065  1.000000

In [41]:
# Question 2
tranches = np.arange(course.Age.min(), course.Age.max(), 10)
tranches = tranches + 5 # On centre les classes
indices = np.digitize(course["Age"], tranches)-1
course["tranche_age"] = indices
course[["Position", "tranche_age"]].corr()

             Position  tranche_age
Position      1.00000      0.10508
tranche_age   0.10508      1.00000

In [43]:
# Question 3
regr = LinearRegression()
regr.fit(course[["Age"]], course["Position"])
print(regr.coef_, regr.intercept_, regr.score(course[["Age"]], course["Position"]))

[0.86217662] 134.3316908135567 0.0112497648608757

In [92]:
# Question 5
data = course[["Sexe", "Temps_secondes"]].copy()

# On réalise une ANOVA, avec Temps_secondes (Y) = alpha + mu + erreur, où alpha dépend de Temps_secondes
mu = data["Temps_secondes"].mean()
alpha = data.groupby("Sexe")["Temps_secondes"].mean()-mu
SCT = (data["Temps_secondes"]-mu).apply(lambda x: x**2).sum()
SCE = (data.groupby("Sexe")["Temps_secondes"].size()*(data.groupby("Sexe")["Temps_secondes"].mean()-mu).apply(lambda x: x**2)).sum()
eta_squared = SCE/SCT
eta_squared

# On peut obtenir les deux en faisant : data.groupby("Sexe").agg({"Temps_secondes": ["size", "mean"]})

0.20400517398334242

In [90]:
data.groupby("Sexe")["Temps_secondes"].size()*(data.groupby("Sexe")["Temps_secondes"].mean()-mu).apply(lambda x:x**2)

Sexe
F    1.335453e+07
M    4.954101e+06
Name: Temps_secondes, dtype: float64